extends layouts/main

block content
  .form-container
    form(action=`/users${routes.editProfile}`, method="post", enctype="multipart/form-data")
      .fileUpload
        label(for="avatar") Avatar
        input(type="file", name="avatar", id="avatar", accept="image/*")
      input(type="text", placeholder ="Name", id="name", value=loggedUser.name)
      input(type="email", placeholder ="Email", id="email", value=loggedUser.email)
      input(type="submit", value="Update Profile")