extends layouts/main

block content
  .form-container
    //- 사용자의 정보가 유출되면 안되기 때문에 post
    form(action=routes.join, meghod="post")
      input(type="text", placeholder="Full Name", name="name")
      input(type="email", placeholder="Email", name="email")
      input(type="password", placeholder="Password", name="password")
      input(type="password", placeholder="Verify Password", name="password2")
      input(type="submit",value="Join Now")
    include ./partials/socialLogin